---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';


---

<Layout title="Good Recipes | Home">
    <main class="grid place-content-center min-h-screen text-center">
        <h1 class="font-serif text-2xl text-nutmeg">Good Recipes</h1>
        <h2>What we will cook today?</h2>
    </main>
</Layout>