---
interface Props {
  total: string
  preparation: string
  cooking: string
}

const { total, preparation, cooking } = Astro.props
---

<div class="mt-6 p-4 rounded-lg bg-rose-white">
  <h3 class="text-dark-raspberry m-0">Preparation Time</h3>
  <ul>
    <li><span class="font-bold">Total:</span> {total}</li>
    <li><span class="font-bold">Preparation:</span> {preparation}</li>
    <li><span class="font-bold">Cooking:</span> {cooking}</li>
  </ul>
</div>
