---
import "@fontsource-variable/outfit"
import "@fontsource/young-serif"

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-eggshell bg-stripes text-dark-charcoal text-lg">
    <slot />
    <div
      class="mx-auto w-fit mb-6 text-sm bg-eggshell rounded-full border border-b-4 px-4 border-nutmeg"
    >
      Challenge by <a
        href="https://www.frontendmentor.io?ref=challenge"
        target="_blank"
        class="text-dark-raspberry">Frontend Mentor</a
      > \ Coded by <a
        href="https://github.com/Bielframos"
        target="_blank"
        class="text-dark-raspberry">Gabriel França</a
      >
    </div>
  </body>
</html>
